body {
    background-color : #f7f7f7;
}
#LoginFormLayout {
    background-color: #fff;
    padding: 20px 25px;
    margin-top: 20px;
}

    #LoginFormLayout #loginForm {
        padding-top: 20px;
        padding-left: 40px;
    }

        #LoginFormLayout #loginForm h3 {
            padding-left: 15px;
            margin: 0;
            margin-bottom: 20px;
            font-size: 38px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
     
#LoginFormLayout #loginForm input[type="submit"] {
    background-color: #273c75;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}
    #LoginFormLayout #loginForm input[type="submit"]:hover {
        background-color: #192a56;
    }
    #LoginFormLayout #loginImage {
    border-right: 1px solid #ddd;
}