body {
    background-color: #f7f7f7;
}

#RegisterFormLayout {
    background-color: #fff;
    padding: 20px 25px;
    margin-top: 20px;
}

    #RegisterFormLayout #registerForm {
        padding-top: 20px;
        padding-left: 40px;
    }

        #RegisterFormLayout #registerForm h3 {
            padding-left: 15px;
            margin: 0;
            margin-bottom: 20px;
            font-size: 38px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

  
        #RegisterFormLayout #registerForm input[type="submit"] {
            background-color: #273c75;
            border-radius: 50px;
            height: 40px;
            width: 100px;
        }

            #RegisterFormLayout #registerForm input[type="submit"]:hover {
                background-color: #192a56;
            }
            #RegisterFormLayout #registerImage {
                border-right: 1px solid #ddd;
            }
